//Images url

$assetPath : "./images";

/*
$black:#000;
$white:#fff;
$off-white:#f8f8f8;
$maroon:#862633;
$light-maroon:#6c2432;
$off-black:#666666;
$green:#0eaeae;
$green1:#0EAEAD;
$realgreen:#00A675;
$darkgreen:#098E90;
$pink:#731C73;
$yellow:#FCCA5A;
$darkyellow:#F38E26;
$grey:#4d4d4d;
$lightgrey:#EDEDED;
$lightgrey-1:#f7f7f7;
$lightgrey-2:#dddddd;
$lightgrey-3:#8f8f8f;


$font-NunitoSans:"NunitoSans";
$font-Klasik:"Klasik";
$font-Niramit:"Niramit";
$font-Livvic:"Livvic";



$screen-xs:579px;
$screen-sm:767px;
$screen-md:1023px;
$screen-lg:1199px;
$screen-xlg:1469px;
$screen-xxlg:1560px;

$bannerHeight:calc(100vh - 9.2rem); 
*/